h1:hover {
    background-color: pink;
}

button:hover {
    color: green;
}

input:focus {
    border-radius: 5px;
}

button:focus {
    border-radius: 10px;
    background-color: #2ecc71;
}

button:active {
    color: black;
    font-size: 30px;
}

h1:active,
p:active {
    color: yellow;
}

.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}


/* .box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    border-radius: 50px;
}*/


/* <!-- duration is how long something should last --> */


/* .animated {
    transition-property: background-color, border-radius;
    transition-duration: 2s;
    transition-delay: 1s, 0.5ms;
} */


/* .animated {
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */


/* .animated {
    transition: transform 1.5s ease-in .5s;
} */

.animated {
    transition: transform 2s ease-out 1s, background-color 0.5s linear;
}

.box:hover {
    transform: translateX(600px);
}